* {box-sizing:border-box}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  padding: 0px;
  background-color: #0001;
}
section{
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}
.cart-a{
  width: auto;
  height: auto;
  padding: 20px;
  text-align: center;
  float: left;
}
.cart-a span:first-child{
float: left;
}
.cart-a span{
  color: #0008;
  padding: 10px;
}
.cart-info{
  float: left;
  clear: both;
}
.cart-info img{
  width: 100px;
  height: 100px;
  float: left;
  clear: both;
}
.cart-info span{
  color: #000;
  font-size: 18px;
  margin-left: 2px;
  float: left;
}
.total{
  display: block;
  clear: both;
}
