*{
  box-sizing: border-box;
}
.free_size_for_header{
  width: 100%;
  height: 15vh;
}
header{
  width: 100%;
  height: 15vh;
  position: fixed;
  z-index: 9999;
}
.bar1{
  width: 100%;
  height: 11vh;
  background-color: #f55;
}
#logo{
  margin: -15px -0px -0px -40px;
  width:270px;
  height: 110px;
  float: left;
}
.search{
  margin: 15px 0px 0px 20px;
  float: left;
}
.search select{
  width: auto;
  height: 40px;
  padding: 10px;
  border-radius: 7px;
  border: none;
}
.search select *{
  width: auto;
  height: 40px;
  padding: 10px;
  border-radius: 7px;
  border: none;
}
#search{
  width: 600px;
  height: 40px;
  padding: 5px;
  border-radius: 7px;
  border: none;
}
#search:focus, .search select:focus{
  outline: none;
}
#search_btn{
  width: auto;
  padding: 10px 25px;
  border-radius: 7px;
  border: none;
  background-color: #77f;
  transition: .6s;
}
.account{
  width: auto;
  height: 40px;
  padding: 10px 25px;
  margin: 15px 20px 0px 20px;
  border-radius: 7px;
  border: none;
  background-color: #77f;
  position: relative;
  display: block;
  float: right;
  transition: .6s;
}
.account #profile-pic{
  width: 30px;
  height: 35px;
  margin: -10px -0px -0px -20px;
}
.account span{
  width: 40px;
  height: 40px;
  margin: -20px 10px 0px 10px;
  position: relative;
  top: -11px;
}
.account #up{
  width: 15px;
  height: 20px;
  transform: rotate(90deg);
  position: relative;
  top: -5px;
}
.account #cart{
  width: 30px;
  height: 35px;
  margin: -10px 5px -0px -20px;
}
#search_btn:hover, .account:hover, .sign a:hover, .sign input:hover{
  position: relative;
  top: 2px;
  cursor: pointer;
  background-color: #88f;
}
.sign a,.sign input{
  font-size: 14px;
	color: white;
	padding: 10px 20px;
  margin: auto;
	text-transform: uppercase;
	text-decoration: none;
  display: block;
}
.account:hover .sign{
  background-color: #ddd;
  display: block;
}
.sign{
  position: absolute;
	display: none;
	left: -20px;
	margin-top: 0px;
  border-radius: 7px;
  z-index: 9999;
}
.sign a,.sign input{
  min-width: 200px;
  max-width: 250px;
  height: 40px;
  padding: 10px 25px;
  margin: 20px 20px;
  border-radius: 7px;
  border: none;
  background-color: #77f;
  display: block;
	float: none;
  transition: .6s;
}
